/*
  Project name(项目名称)：CSS_3D_conversion 
  File name(文件名): t5
  Author(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/2/7 
  Time(创建时间)： 19:33
  Version(版本): 1.0
  Description(描述)： 无
 */


div {
    width: 100px;
    height: 100px;
    perspective: 150;
    perspective-origin: 10% 10%;
    -webkit-perspective: 150;
    -webkit-perspective-origin: 10% 10%;
    border: 3px solid black;
    margin: 10px 0px 0px 10px;
}

.transform {
    background-color: red;
    border: none;
    transform: matrix3d(0.359127, -0.469472, 0.806613, 0, 0.190951, 0.882948, 0.428884, 0, -0.913545, 0, 0.406737, 0, 0, 0, 0, 1);
}